@font-face  {
  font-family: "Lexend Bold";
  src: url("Fonts/Lexend-Bold.ttf");
}

@font-face  {
  font-family: "Lexend Regular";
  src: url("Fonts/static/Lexend-Regular.ttf");
}

@font-face  {
  font-family: "Bebas Neue";
  src: url("Fonts/BebasNeue.ttf");
}

h1  {
  color: #820B8A;
  font-family: "Bebas Neue";
  text-shadow: 2px 2px #DFFFD6;
}

span  {
  font-family: "Lexend Bold";
  background: linear-gradient(to bottom right, #E8D7FF, #820B8A, #03045E, #68EDC6, #B2F7EF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;
}

.block-quote  {
  background-color: rgba(243, 255, 225, .4);
  border-left-style: solid;
  border-color: #FFD3E8;
  border-width: 1rem;
}

p  {
  color: #03045E;
  font-family: "Lexend Regular";
}

.bg  {
  background-color: #000;
}

.box-shadow  {
  transition: 150ms ease;
}

.box-shadow:hover  {
  box-shadow: 0px 4px 10px 0px #9E81FE;
  scale: 1.05;
}

.col-2 .pindutan  {
  cursor: url(Cursors/light/cursor/person.cur), pointer !important;
  transition: 150ms ease;
}

.col-2 .pindutan:hover  {
  scale: 1.05;
}
.col-2 .pindutan:active  {
  cursor: url(Cursors/light/cursor/person.cur), pointer !important;
}

.col-2 .pindutan span  {
  cursor: url(Cursors/light/cursor/person.cur), pointer !important;
}

.col-2 .pindutan:active span  {
  cursor: url(Cursors/light/cursor/person.cur), pointer !important;
}

.pindutan  {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 1rem;
	border-top: 2px solid #323232;
	border-right: 2px solid #323232;
	border-bottom: 6px solid #323232;
	border-left: 2px solid #323232;
	background: linear-gradient(to bottom right, #E8D7FF 20%, #FFD3E8 40%, #FFD7D5 60%, #F3FFE1 80%, #DFFFD6 100%);
	box-shadow: 0px 4px 10px 0px #9E81FE;
	transition: all 0.24s;
	perspective: 300px;
	cursor: url(Cursors/light/cursor/link.cur), pointer !important;
}

.pindutan:active {
	border-bottom: 2px solid #323232;
	box-shadow: 0px 0 4px 0px #9E81FE;
	cursor: url(Cursors/light/cursor/link.cur), pointer !important;
}

.pindutan span {
	transform: rotateX(20deg);
	transition: all 0.24s;
	cursor: url(Cursors/light/cursor/link.cur), pointer !important;
}

.pindutan:active span {
	transform: rotateX(0);
	cursor: url(Cursors/light/cursor/link.cur), pointer !important;
}

.scrollable-text  {
  max-height: 192px;
  overflow-y: auto;
}

hr  {
  opacity: 0%;
}

/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  cursor: url(Cursors/light/cursor/pointer.cur), pointer;
}

.slide-panel {
  max-height: 100vh;
  background-color: #f4f4f4;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.slide-thumbnail {
  margin-bottom: 10px;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.slide-thumbnail img {
  width: 100%;
  display: block;
}

.slide-thumbnail:hover {
  border-color: #0078d4;
}

#main-slide {
  max-width: 100%;
  max-height: 100vh;
}

.hidden  {
  display: none;
}

#new-content  {
  height: 100vh;
}

.cornell-notes h4  {
  font-family: "Lexend Bold";
}

.cornell-notes  {
  cursor: url(Cursors/light/cursor/handwriting.cur), auto;
  max-height: 90vh;
  overflow-y: scroll;
}

.slide-thumbnail img, #main-slide, .carousel-control-prev, .carousel-control-next, .modal-header button, .modal-footer button  {
  cursor: url(Cursors/light/cursor/link.cur), pointer !important;
}

::-webkit-scrollbar  {
  width: .75rem;
  height: .75rem;
}

::-webkit-scrollbar-track  {
  background: #E8D7FF;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb  {
  background: linear-gradient(to bottom right, #E8D7FF 20%, #FFD3E8 40%, #FFD7D5 60%, #F3FFE1 80%, #DFFFD6 100%);
  border-style: solid;
  border-width: 3px;
  border-color: #000;
  border-radius: 1rem;
}

#mobile-carousel img  {
  height: 30vh;
}

h1, h4, p  {
  cursor: url(Cursors/light/cursor/beam.cur), auto;
}

.justify-text  {
  text-align: justify;
}

button span  {
  font-family: "Lexend Bold";
  background: linear-gradient(to bottom right, #E8D7FF 20%, #FFD3E8 40%, #FFD7D5 60%, #F3FFE1 80%, #DFFFD6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;
}

#new-content-mobile  {
  max-height: 100vh;
  overflow-y: auto;
}
